.app{

    width:100%;
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

/* スマホ */

.phone{

    width:390px;

    min-height:844px;

    background:var(--white);

    border-radius:35px;

    overflow:hidden;

    position:relative;

    box-shadow:
    0 10px 40px rgba(0,0,0,0.12);

}